@font-face {
  font-family: 'RIDIBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  font-family: 'RIDIBatang', sans-serif;
}

.addContainer {
  background-color: rgb(113, 165, 136);
  width: 90%;
}

.titleName {
  color: rgb(246, 244, 242);
}

.addSpan {
  color: #c3e3ca;
}

.form-control {
  text-align: center;
}

.Addbtn {
  color: rgb(21, 21, 21);
  background-color: #9ad6a8;
}

.Addbtn:hover {
  color: white;
  background-color: rgb(87, 140, 111);
}

.wise {
  text-align: center;
  margin-top: 60px;
  margin-left: 10%;
  margin-right: 10%;
}

.wiseSpan {
  color: rgb(113, 165, 136);
}

@media (min-width: 768px) {
  .addContainer {
    width: 55%;
  }
}
